{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" href="/static/sql_form.css">
{% endblock %}
{% block title %}
    SQL Execute Form
{% endblock %}
{% block content %}
    <div class="container">
        <form action="/sql" method="POST">
            <label for="sql_sentences">Sentencias SQL:</label>
            <textarea id="sql_sentences" name="sql_sentence" placeholder="pragma table_info(builds);"></textarea>
            <input type="submit" value="Ejecutar SQL">
        </form>    
    </div>
{% endblock %}